@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #6c9bcf;
  --color-danger: #ff0060;
  --color-success: #1b9c85;
  --color-warning: #f7d060;
  --color-white: #ffffff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f2efe9;
  --color-title: #fed700;
  --color-linear: #fa709a, #fee140;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
  --color-title: #1f41bb;
  --color-background: #101728;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --color-linear: #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4,
    #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 14px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--color-background) !important;
  transition: 0.5s linear;
}

body::after {
  content: "";
  position: absolute;
  top: 250px;
  right: 240px;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-image: linear-gradient(to right top, var(--color-linear));
  filter: blur(100px);
  z-index: 0;
}

/* ======HEADER======== */

/*Header top */

header .menu-top-bar-right li:not(li:last-child) {
  position: relative;
  padding: 0 16px;
}

header .menu-top-bar-right li:last-child {
  padding-left: 8px;
}

header .menu-top-bar-right li:not(li:last-child)::before {
  position: absolute;
  right: 0;
  top: 25%;
  content: "";
  width: 1px;
  height: 12px;
  background-color: var(--color-info-dark);
}

header .menu-top-bar-left li:hover a,
header .menu-top-bar-right li:hover a {
  color: var(--color-dark);
}

header .header-top a {
  text-decoration: none;
  color: var(--color-info-dark);
}

header .header-bottom svg {
  max-width: 125px;
  cursor: pointer;
}

header .header-bottom .logo path {
  fill: var(--color-dark);
}

header .menu-main a {
  margin: 0 20px;
  text-decoration: none;
  color: var(--color-dark);
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s linear;
}

header .menu-main a:hover {
  color: var(--color-info-dark);
}

/*Search header bottom */

header .search {
  display: inline-block;
  position: relative;
  margin: 0 16px;
}

header .search input[type="text"] {
  width: 200px;
  padding: 8px 10px;
  outline: none;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header .search button[type="submit"] {
  background-color: #4e99e9;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.9s ease;
}

header .search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: blue;
}

/*Btn Toggle Dark Mode */

header .switch-name {
  --dark-sky: #5050e5;
  --moon: #ffd365;
  --light-sky: #35d5e5;
  --sun: #ffed89;
  display: inline-block;
  position: relative;
  border-radius: 5em;
  cursor: pointer;
  width: 80px;
  height: 37px;
  overflow: hidden;
  transition: all 0.5s;
  align-items: center;
}

header .switch-name .back {
  background-color: var(--light-sky);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.5s ease-in-out;
}

header .switch-name .checkbox {
  opacity: 0;
}

header .switch-name .checkbox:checked ~ .back {
  background-color: var(--dark-sky);
}

header .switch-name .checkbox:checked ~ .sun {
  transform: translate(100%) rotate(180deg);
  opacity: 0;
}

header .switch-name .checkbox:checked ~ .moon {
  transform: translate(149%) rotate(360deg);
  opacity: 1;
}

header .switch-name .sun {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0.4em;
  fill: var(--sun);
  transition: 0.5s;
}

header .switch-name .moon {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0.4em;
  fill: var(--moon);
  transition: 0.5s;
  opacity: 0;
}

header .btn-toggle-dark-mode {
  height: 37px;
  margin: 0 16px;
}

/*Menu bottom icons*/

header .menu-bottom-icons {
  margin: 0 16px;
}

header .menu-bottom-icons i {
  position: relative;
  font-size: 24px;
  color: var(--color-dark);
}

header .menu-bottom-icons li:first-child {
  margin-right: 28px;
}

/*Menu icon cart*/

header .cart {
  position: relative;
}

header .cart .count-cart {
  position: absolute;
  bottom: 4px;
  right: -4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-title);
  color: #ffffff;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
}

header .total-cart {
  font-weight: 800;
  font-size: 16px;
}

/*Menu bottom tooltip*/

.uiverse {
  position: relative;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.uiverse:hover .tooltip {
  top: -35px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

svg:hover span,
svg:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.uiverse:hover .tooltip,
.uiverse:hover .tooltip::before {
  background: linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255));
  color: #ffffff;
}

/*Btn Sign In*/

header .SignUp {
  margin-left: 12px;
}

.box {
  width: 100px;
  height: 37px;
  float: left;
  transition: 0.5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  line-height: 37px;
  margin: 0 5px;
  background: transparent;
  font-weight: 900;
}

.box:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
  border-color: var(--color-title);
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.box:hover:after {
  border-color: var(--color-title);
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}

button {
  color: var(--color-dark);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

/*Btn Sign Up*/
.button {
  position: relative;
  width: 100px;
  height: 37px;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  color: var(--color-dark);
  font-size: 14px;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 108px;
  height: 46px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(12px);
}

.button:hover::after {
  filter: blur(12px);
}

.button:hover::before {
  transform: rotate(-180deg);
}

.button:active::before {
  scale: 0.7;
}

/* ======Category - Slide show======== */

/*Category*/

.category-slide {
  height: 454px;
  margin-top: 40px;
}

.category-slide .category {
  background-color: var(--color-white);
  padding: 0;
  border-radius: var(--border-radius-1);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  transition: 0.3s linear;
}

.category-slide .category:hover {
  box-shadow: none;
}

.category .title {
  padding: var(--padding-1);
  font-size: 20px;
  font-weight: 700;
  color: var(--color-dark);
  background-color: var(--color-title);
  cursor: pointer;
}

.category .title p {
  padding-left: 8px;
}

.category .list-categories {
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: auto;
  padding: 0 8px;
  margin: 0;
}

.category .list-categories li {
  display: block;
  cursor: pointer;
  padding: 12px 8px;
}

.category .list-categories li:not(li:last-child) {
  border-bottom: 1px solid var(--color-dark);
}

.category .list-categories a {
  color: var(--color-dark);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.category .list-categories li:hover a {
  color: var(--color-info-dark);
}

/*slide show*/

.slide-show {
  position: relative;
  width: 880px;
  height: 454px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-1);
  overflow: hidden;
}

.slide-show .list-items {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  transition: 0.5s ease-in;
}

.list-items .item {
  display: none;
  width: 880px;
  z-index: 1;
}

.list-items .item.active {
  display: flex;
}

.slide-show .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
  height: 454px;
  flex-basis: 50%;
}

.slide-show .title {
  font-weight: bold;
  color: var(--color-title);
  font-size: 20px;
  opacity: 0;
}

.slide-show .detail {
  color: var(--color-dark);
  opacity: 0;
  font-size: 28px;
}

.slide-show .detail span {
  font-weight: bold;
}

.slide-show a.btn {
  margin: 32px 0;
  background-color: var(--color-title);
  color: var(--color-dark);
  font-weight: bold;
  opacity: 0;
  padding: 12px 0;
}

.slide-show .items .item-img {
  flex-basis: 50%;
  width: 50%;
  height: 545px;
}

.slide-show .dots {
  position: absolute;
  list-style: none;
  bottom: 8px;
  left: 6%;
  display: flex;
  z-index: 1;
}

.slide-show .dots li {
  margin: 12px;
  width: 12px;
  height: 12px;
  background-color: var(--color-title);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease-in;
}

.slide-show .dots li.active {
  width: 28px;
  border-radius: 12px;
}

/*Animation*/

.toTop {
  animation: toTop 0.5s forwards ease-in;
}

.toLeft {
  animation: toLeft 0.5s forwards ease-in;
}

.toRight {
  animation: toRight 0.5s forwards ease-in;
}

.toBottom {
  animation: toBottom 0.5s forwards ease-in;
}

@keyframes toTop {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toLeft {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toBottom {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-0 {
  animation-delay: 0s !important;
}

.delay-1 {
  animation-delay: 0.2s !important;
}

.delay-2 {
  animation-delay: 0.4s !important;
}

/* ======FOOTER======== */

footer {
  margin-top: 40px;
  padding-top: 20px;
  background-color: var(--color-white);
}

footer .brand {
  position: relative;
  height: 100px;
  margin: 24px 0;
  border-top: 1px solid var(--color-info-dark);
  border-bottom: 1px solid var(--color-info-dark);
  overflow: hidden;
}

footer .list-brands {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding: 20px 0;
  transition: all 0.3s ease-in;
}

footer .list-brands .item {
  margin: 0 29.9px;
}

footer .brand .btn-next-pver {
  position: absolute;
  top: 35%;
  left: 1%;
  width: 98%;
  display: flex;
  justify-content: space-between;
}

footer .btn-next-pver button {
  font-size: 24px;
  font-weight: bold;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: var(--color-info-dark);
}

/* Footer Widgets*/

footer .footer-widgets {
  margin-top: 40px;
}

/* Star rating*/

.rating {
  display: inline-block;
  opacity: 1;
}

.rating input {
  display: none;
  opacity: 1;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.rating label:before {
  content: "\2605";
  font-size: 24px;
  transition: color 0.3s;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #ffc300;
  transform: scale(1.2);
  transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
  animation: bounce 0.5s ease-in-out alternate;
}

@keyframes bounce {
  to {
    transform: scale(1.3);
  }
}

/*Widget Products*/

.footer-widgets .widget-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.footer-widgets .widget-title {
  position: relative;
  height: 54.5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 12px;
}

.footer-widgets .widget-title h4 {
  position: absolute;
  left: 0;
  top: 0;
  width: max-content;
  height: 55px;
  margin-bottom: 0;
  padding: 8px 0;
  color: var(--color-dark);
  border-bottom: 3px solid var(--color-title);
}

.footer-widgets .item {
  margin-bottom: 12px;
}

.footer-widgets .item a {
  display: flex;
  text-decoration: none;
}

.footer-widgets .item img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.footer-widgets .info .title {
  color: var(--color-primary);
  font-size: 16px;
  font-weight: bold;
}

.footer-widgets .info .price {
  color: var(--color-danger);
  font-weight: bold;
}

.footer-widgets .info .price del {
  color: var(--color-info-dark);
}

/*Footer newsletter*/

footer .footer-newsletter {
  margin-top: 40px;
  background-color: var(--color-title);
  padding: 20px 0;
}

.footer-newsletter .newsletter-title {
  color: var(--color-dark);
  display: inline-block;
  margin: 0 40px 0 0;
  font-size: 24px;
}

.footer-newsletter .newsletter-title i {
  margin-right: 8px;
}

.footer-newsletter .newsletter-marketing {
  color: var(--color-dark);
}

/*Footer newsletter form*/

.input-group {
  display: flex;
  align-items: center;
}

.input {
  min-height: 40px;
  width: 78%;
  padding: 0 1rem;
  color: var(--color-dark);
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 6px 0 0 6px;
  background-color: var(--color-white);
}

.button--submit {
  min-height: 41px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: var(--color-dark);
  color: var(--color-title);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button--submit:hover {
  background-color: var(--color-white);
  color: var(--color-dark);
}

/*Footer bottom widgets*/

footer .footer-bottom-widgets {
  margin: 40px 0;
}

.footer-bottom-widgets .footer-logo path {
  fill: var(--color-dark);
}

.footer-bottom-widgets .footer-call-us {
  margin: 40px 0;
}

.footer-bottom-widgets .footer-call-us i {
  margin-right: 16px;
  font-size: 50px;
  color: var(--color-title);
}

.footer-bottom-widgets .footer-call-us .media-body {
  padding-top: 8px;
  color: var(--color-info-dark);
}

.footer-bottom-widgets .media-body .call-us-number {
  font-size: 20px;
  color: var(--color-dark);
}

.footer-bottom-widgets .footer-address {
  color: var(--color-dark);
}

.footer-bottom-widgets .footer-social-icons a {
  color: var(--color-info-dark);
  margin-right: 20px;
}

.footer-bottom-widgets .footer-social-icons .icon-fa:hover {
  color: #3b5998;
}

.footer-bottom-widgets .footer-social-icons .icon-ytb:hover {
  color: red;
}

.footer-bottom-widgets .footer-social-icons .icon-ins:hover {
  color: #f25a00;
}

.footer-bottom-widgets .footer-social-icons .icon-tw:hover {
  color: blue;
}

.footer-bottom-widgets .footer-social-icons ion-icon {
  font-size: 28px;
}

.footer-bottom-widgets-menu .widget-title {
  color: var(--color-dark);
  font-size: 20px;
  font-weight: bold;
}

.footer-bottom-widgets-menu .menu {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.footer-bottom-widgets-menu .menu li {
  margin-bottom: 8px;
}

.footer-bottom-widgets-menu .menu a {
  font-size: 16px;
  color: var(--color-dark-variant);
  text-decoration: none;
}

/*Footer copyright bar*/

footer .copyright-bar {
  background-color: var(--color-background);
  height: 44px;
  color: var(--color-info-dark);
}

.copyright-bar .copyright a {
  line-height: 44px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-dark);
}
